.photo{
  position: relative;
}
.photo img{
  width:100%;
}
.photo p{
  top:50%;
  width:100%;
  font-size:150%;
  margin:0;
  padding:0;
  color:#fff;
  background:rgba(0,0,0,0.4);
  position:absolute;
  text-align:center;
  }
